In [1]:
fileurl<-"https://d396qusza40orc.cloudfront.net/getdata%2Fdata%2Fss06hid.csv"

In [2]:
download.file(fileurl,destfile="~/Downloads/1.csv",method="curl")

In [3]:
data1<-read.csv("~/Downloads/1.csv")

In [4]:
head(data1)

  RT SERIALNO DIVISION PUMA REGION ST  ADJUST WGTP NP TYPE ACR AGS BDS BLD BUS
1  H      186        8  700      4 16 1015675   89  4    1   1  NA   4   2   2
2  H      306        8  700      4 16 1015675  310  1    1  NA  NA   1   7  NA
3  H      395        8  100      4 16 1015675  106  2    1   1  NA   3   2   2
4  H      506        8  700      4 16 1015675  240  4    1   1  NA   4   2   2
5  H      835        8  800      4 16 1015675  118  4    1   2   1   5   2   2
6  H      989        8  700      4 16 1015675  115  4    1   1  NA   3   2   2
  CONP ELEP FS FULP GASP HFL INSP KIT MHP MRGI MRGP MRGT MRGX PLM RMS RNTM RNTP
1   NA  180  0    2    3   3  600   1  NA    1 1300    1    1   1   9   NA   NA
2   NA   60  0    2    3   3   NA   1  NA   NA   NA   NA   NA   1   2    2  600
3   NA   70  0    2   30   1  200   1  NA   NA   NA   NA    3   1   7   NA   NA
4   NA   40  0    2   80   1  200   1  NA    1  860    1    1   1   6   NA   NA
5   NA  250  0    2    3   3  700   1  NA    1 1900    1    1   1   7   NA   NA
6   NA  130  0    2    3   3  250   1  NA    1  700    1    1   1   6   NA   NA
  SMP TEL TEN VACS VAL VEH WATP YBL FES  FINCP FPARC GRNTP GRPIP HHL HHT  HINCP
1  NA   1   1   NA  17   3  840   5   2 105600     2    NA    NA   1   1 105600
2  NA   1   3   NA  NA   1    1   3  NA     NA    NA   660    23   1   4  34000
3  NA   1   2   NA  18   2   50   5   7   9400     2    NA    NA   1   3   9400
4 400   1   1   NA  19   3  500   2   1  66000     1    NA    NA   1   1  66000
5 650   1   1   NA  20   5    2   3   1  93000     2    NA    NA   1   1  93000
6 400   1   1   NA  15   2 1200   5   2  61000     1    NA    NA   1   1  61000
  HUGCL HUPAC HUPAOC HUPARC LNGI MV NOC NPF NPP NR NRC OCPIP PARTNER PSF R18
1     0     2      2      2    1  4   2   4   0  0   2    18       0   0   1
2     0     4      4      4    1  3   0  NA   0  0   0    NA       0   0   0
3     0     2      2      2    1  2   1   2   0  0   1    23       0   0   1
4     0     1      1      1    1  3   2   4   0  0   2    26       0   0   1
5     0     2      2      2    1  1   1   4   0  0   1    36       0   0   1
6     0     1      1      1    1  4   2   4   0  0   2    26       0   0   1
  R60 R65 RESMODE SMOCP SMX SRNT SVAL TAXP WIF WKEXREL WORKSTAT FACRP FAGSP
1   0   0       1  1550   3    0    1   24   3       2        3     0     0
2   0   0       2    NA  NA    1    0   NA  NA      NA       NA     0     0
3   0   0       1   179  NA    0    1   16   1      13       13     0     0
4   0   0       2  1422   1    0    1   31   2       2        1     0     0
5   0   0       1  2800   1    0    1   25   3       1        1     0     0
6   0   0       2  1330   2    0    1    7   1       7        3     0     0
  FBDSP FBLDP FBUSP FCONP FELEP FFSP FFULP FGASP FHFLP FINSP FKITP FMHP FMRGIP
1     0     0     0     0     0    0     0     0     0     0     0    0      0
2     0     0     0     0     0    0     0     0     0     0     0    0      0
3     0     0     0     0     0    0     0     0     0     0     0    0      0
4     0     0     0     0     0    0     0     0     0     0     0    0      0
5     0     0     0     0     0    0     0     0     0     0     0    0      0
6     0     0     0     0     0    0     0     0     0     1     0    0      0
  FMRGP FMRGTP FMRGXP FMVYP FPLMP FRMSP FRNTMP FRNTP FSMP FSMXHP FSMXSP FTAXP
1     0      0      0     0     0     0      0     0    0      0      0     0
2     0      0      0     0     0     0      0     0    0      0      0     0
3     0      0      0     0     0     0      0     0    0      0      0     0
4     0      0      0     0     0     0      0     0    0      0      0     0
5     0      0      0     0     0     0      0     0    0      0      0     0
6     0      0      0     0     0     0      0     0    0      0      0     1
  FTELP FTENP FVACSP FVALP FVEHP FWATP FYBLP wgtp1 wgtp2 wgtp3 wgtp4 wgtp5
1     0     0      0     0     0     0     0    87    28   156    95    26
2     0     0      0     0     0     0     1   539   363   293   422   566
3     0     0      0     0     0     0     0   187    35   184   178    83
4     0     0      0     0     0     0     0   232   406   234   270   249
5     0     0      0     0     0     0     0   107   194   129    41   156
6     0     0      0     0     0     1     0   191   197   127   115   115
  wgtp6 wgtp7 wgtp8 wgtp9 wgtp10 wgtp11 wgtp12 wgtp13 wgtp14 wgtp15 wgtp16
1    25    95    93    93     91     87    166     90     25    153     89
2   289    87   242   453    453    334    358    414    102    281     99
3    95    31    32   177    118    110    114    184    107     95    115
4   242   406   249   287     67     72    413    399     77    245    424
5   174    47   113   101     33    115     52    113     95    135    206
6   107   119    34    32     30    123    199    117     33    109    117
  wgtp17 wgtp18 wgtp19 wgtp20 wgtp21 wgtp22 wgtp23 wgtp24 wgtp25 wgtp26 wgtp27
1    148     82     25    180     90     24    140     92     25     27     86
2    108    278    131    407    447    264    352    238    390    336    122
3     33    118    120     37    184     35    176    176    110    103     29
4     67     63    226    254    238     69    238    255    239    248     69
5    100    185    135    279    116     33    105    244     38     30    230
6     31    115    201    190    184    198    113    109    117    111    110
  wgtp28 wgtp29 wgtp30 wgtp31 wgtp32 wgtp33 wgtp34 wgtp35 wgtp36 wgtp37 wgtp38
1     84     87     93     90    149     91     28    143     81    144     95
2    374    482    468    335    251    613    104    284    116     91    326
3     30    197    127     92    118    177     99     99    109     34    100
4    234    247    437    423     74     61    401    267     72    388    335
5    123    123    243    120    238     98     90    107     44    122     32
6     33     37     36    110    183    114     35    134    119     32    121
  wgtp39 wgtp40 wgtp41 wgtp42 wgtp43 wgtp44 wgtp45 wgtp46 wgtp47 wgtp48 wgtp49
1     27     22     90    171     27     83    153    148     92     91     91
2    102    361    107    253    321    289     96    343    564    274    118
3    105     33    173     36    168    175     99    103     30     35    155
4    229    236    239     65    259    247    230    225     82    220    233
5    127    195    116     36    135    237     33     33    249    102     84
6    188     33     34     32    109    115    115    112    119    192    186
  wgtp50 wgtp51 wgtp52 wgtp53 wgtp54 wgtp55 wgtp56 wgtp57 wgtp58 wgtp59 wgtp60
1     93     90     26     94    142     24     91     29     84    148     30
2    118    321    261    130    463    294    479    391    307    476    283
3    102     95    107    185    120    114    113     36    115    103     29
4    419    390     69     74    391    276     70    422    409    223    245
5    224    119    250    119    125    126     32    112     33    131     45
6    213    106     34    124    179    106    107    190    112     34     35
  wgtp61 wgtp62 wgtp63 wgtp64 wgtp65 wgtp66 wgtp67 wgtp68 wgtp69 wgtp70 wgtp71
1     93    143     24     88    147    145     91     83     83     86     81
2    116    353    323    374    106    236    380    313     90     94    292
3    183     35    179    169     95    110     28     34    233     97    123
4    269    488    221    250    247    240    415    234    219     66     68
5    101    165    125     41    191    195     49    119     92     44    127
6     32     34    119    123    122    121    123    196    196    207    120
  wgtp72 wgtp73 wgtp74 wgtp75 wgtp76 wgtp77 wgtp78 wgtp79 wgtp80
1     27     93    151     28     79     25    101    157    129
2    401     81    494    346    496    615    286    454    260
3    119    168    107     95    101     30    124    106     31
4    359    385     71    234    421     76     77    242    231
5     36    119    121    116    209     97    176    144     38
6     34    109    199    116    110    211    120     31    189

In [5]:
nrow(data1)

[1] 6496

In [6]:
ncol(data1)

[1] 188

In [7]:
val<-data1$VAL

In [8]:
length(val[!is.na(val) & val>=24])

[1] 53

In [9]:
library(xlsx)
fileurl2<-"https://d396qusza40orc.cloudfront.net/getdata%2Fdata%2FDATA.gov_NGAP.xlsx"
download.file(fileurl2,destfile="~/Downloads/1.xlsx",method="curl")

Loading required package: rJava
Loading required package: xlsxjars

In [10]:
colindex<-7:15
rowindex<-18:23
dat<-read.xlsx("~/Downloads/1.xlsx",sheetIndex=1, colIndex=colindex,rowIndex=rowindex)

In [11]:
dat

    Zip CuCurrent PaCurrent PoCurrent      Contact Ext          Fax email
1 74136         0         1         0 918-491-6998   0 918-491-6659    NA
2 30329         1         0         0 404-321-5711  NA         <NA>    NA
3 74136         1         0         0 918-523-2516   0 918-523-2522    NA
4 80203         0         1         0 303-864-1919   0         <NA>    NA
5 80120         1         0         0 345-098-8890 456         <NA>    NA
  Status
1      1
2      1
3      1
4      1
5      1

In [12]:
sum(dat$Zip*dat$Ext,na.rm=T)

[1] 36534720

In [13]:
library(XML)
fileurl3<-"https://d396qusza40orc.cloudfront.net/getdata%2Fdata%2Frestaurants.xml"

In [14]:
doc<-xmlTreeParse(fileurl3,useInternal=TRUE)

ERROR: Error: XML content does not seem to be XML: 'https://d396qusza40orc.cloudfront.net/getdata%2Fdata%2Frestaurants.xml'

In [15]:
download.file("https://d396qusza40orc.cloudfront.net/getdata%2Fdata%2Fss06pid.csv",destfile="~/Downloads/2.csv",method="curl" )

In [3]:
#################Quiz 3
########Problem 1
url<-"https://d396qusza40orc.cloudfront.net/getdata%2Fdata%2Fss06hid.csv"
download.file(url,destfile="~/data/R/c3.csv",method="curl")
data1<-read.csv("~/data/R/c3.csv")

In [11]:
agricultureLogical<-(data1$AGS==6&data1$ACR==3)

In [14]:
head(which(agricultureLogical),n=3)

[1] 125 238 262

In [15]:
###Problem 2
library(jpeg)

In [21]:
url<-"https://d396qusza40orc.cloudfront.net/getdata%2Fjeff.jpg"
download.file(url,destfile="~/data/R/1.jpeg",method="curl")
q2<-readJPEG("~/data/R/1.jpeg",native=TRUE)

In [22]:
quantile(q2,c(0.3,0.8))

      30%       80%
-15259150 -10575416

In [244]:
#########Problem 3
download.file("https://d396qusza40orc.cloudfront.net/getdata%2Fdata%2FGDP.csv",
              destfile="~/data/R/q3-3_1.csv",method="curl")

In [245]:
download.file("https://d396qusza40orc.cloudfront.net/getdata%2Fdata%2FEDSTATS_Country.csv",
              destfile="~/data/R/q3-3_2.csv",method="curl")

In [246]:
q3_1<-read.csv("~/data/R/q3-3_1.csv",skip=3,header=T,sep=",")
q3_2<-read.csv("~/data/R/q3-3_2.csv")

In [247]:
names(q3_1)
nrow(q3_1)
ncol(q3_1)
head(q3_1)
tail(q3_1)

 [1] "X"           "Ranking"     "X.1"         "Economy"     "US.dollars."
 [6] "X.2"         "X.3"         "X.4"         "X.5"         "X.6"

[1] 327

[1] 10

    X Ranking X.1       Economy  US.dollars. X.2 X.3 X.4 X.5 X.6
1              NA                                 NA  NA  NA  NA
2 USA       1  NA United States  16,244,600       NA  NA  NA  NA
3 CHN       2  NA         China   8,227,103       NA  NA  NA  NA
4 JPN       3  NA         Japan   5,959,718       NA  NA  NA  NA
5 DEU       4  NA       Germany   3,428,131       NA  NA  NA  NA
6 FRA       5  NA        France   2,612,878       NA  NA  NA  NA

    X Ranking X.1 Economy US.dollars. X.2 X.3 X.4 X.5 X.6
322            NA                          NA  NA  NA  NA
323            NA                          NA  NA  NA  NA
324            NA                          NA  NA  NA  NA
325            NA                          NA  NA  NA  NA
326            NA                          NA  NA  NA  NA
327            NA                          NA  NA  NA  NA

In [248]:
dat1 <- q3_1[2:191, c(1,2,4,5)]
head(dat1)
tail(dat1)

    X Ranking        Economy  US.dollars.
2 USA       1  United States  16,244,600
3 CHN       2          China   8,227,103
4 JPN       3          Japan   5,959,718
5 DEU       4        Germany   3,428,131
6 FRA       5         France   2,612,878
7 GBR       6 United Kingdom   2,471,784

In [249]:
names(q3_3_2)
nrow(q3_3_2)
ncol(q3_3_2)

 [1] "CountryCode"
 [2] "Long.Name"
 [3] "Income.Group"
 [4] "Region"
 [5] "Lending.category"
 [6] "Other.groups"
 [7] "Currency.Unit"
 [8] "Latest.population.census"
 [9] "Latest.household.survey"
[10] "Special.Notes"
[11] "National.accounts.base.year"
[12] "National.accounts.reference.year"
[13] "System.of.National.Accounts"
[14] "SNA.price.valuation"
[15] "Alternative.conversion.factor"
[16] "PPP.survey.year"
[17] "Balance.of.Payments.Manual.in.use"
[18] "External.debt.Reporting.status"
[19] "System.of.trade"
[20] "Government.Accounting.concept"
[21] "IMF.data.dissemination.standard"
[22] "Source.of.most.recent.Income.and.expenditure.data"
[23] "Vital.registration.complete"
[24] "Latest.agricultural.census"
[25] "Latest.industrial.data"
[26] "Latest.trade.data"
[27] "Latest.water.withdrawal.data"
[28] "X2.alpha.code"
[29] "WB.2.code"
[30] "Table.Name"
[31] "Short.Name"

[1] 234

[1] 31

In [250]:
colnames(dat1)[1]<-"CountryCode"
colnames(dat1)[2]<-"GDP"

In [251]:
names(dat1)

[1] "CountryCode" "GDP"         "Economy"     "US.dollars."

In [252]:
q3all<-merge(x=dat1,y=q3_3_2,by="CountryCode")

In [253]:
nrow(q3all)

[1] 189

In [274]:
class(q3all$GDP)

[1] "numeric"

In [284]:
q3all$GDP<-as.numeric(as.character(q3all$GDP))
q3all<-q3all[,1:6]
head(q3all)

  CountryCode GDP              Economy US.dollars.                    Long.Name
1         ABW 161                Aruba      2,584                         Aruba
2         AFG 105          Afghanistan     20,497  Islamic State of Afghanistan
3         AGO  60               Angola    114,147   People's Republic of Angola
4         ALB 125              Albania     12,648           Republic of Albania
5         ARE  32 United Arab Emirates    348,595          United Arab Emirates
6         ARG  26            Argentina    475,502            Argentine Republic
          Income.Group
1 High income: nonOECD
2           Low income
3  Lower middle income
4  Upper middle income
5 High income: nonOECD
6  Upper middle income

In [305]:
#class(q3all$GDP)
#length(q3all$GDP)
A<-order(-q3all$GDP)[13]

In [306]:
q3all[A,]

   CountryCode GDP             Economy US.dollars.           Long.Name
93         KNA 178 St. Kitts and Nevis        767  St. Kitts and Nevis
          Income.Group
93 Upper middle income

In [311]:
###Problem 4
library(plyr)
library(dplyr)
income_group <- group_by(q3all, Income.Group)

In [312]:
summarise(income_group, avg = mean(GDP, na.rm = TRUE))

Source: local data frame [5 x 2]

          Income.Group       avg
                (fctr)     (dbl)
1 High income: nonOECD  91.91304
2    High income: OECD  32.96667
3           Low income 133.72973
4  Lower middle income 107.70370
5  Upper middle income  92.13333

In [313]:
q3$RankingGroup <- cut(q3all$GDP, breaks = 5)

In [314]:
table(q3$RankingGroup, q3all$Income.Group)

                  High income: nonOECD High income: OECD Low income
  (0.811,38.8]  0                    4                18          0
  (38.8,76.6]   0                    5                10          1
  (76.6,114]    0                    8                 1          9
  (114,152]     0                    4                 1         16
  (152,190]     0                    2                 0         11

               Lower middle income Upper middle income
  (0.811,38.8]                   5                  11
  (38.8,76.6]                   13                   9
  (76.6,114]                    12                   8
  (114,152]                      8                   8
  (152,190]                     16                   9

In [315]:
########Quiz 4
###############Problem 1
download.file("https://d396qusza40orc.cloudfront.net/getdata%2Fdata%2Fss06hid.csv",
              destfile="~/data/R/q4-1.csv",method="curl")

In [316]:
data1<-read.csv("~/data/R/q4-1.csv")

In [318]:
head(data1)

  RT SERIALNO DIVISION PUMA REGION ST  ADJUST WGTP NP TYPE ACR AGS BDS BLD BUS
1  H      186        8  700      4 16 1015675   89  4    1   1  NA   4   2   2
2  H      306        8  700      4 16 1015675  310  1    1  NA  NA   1   7  NA
3  H      395        8  100      4 16 1015675  106  2    1   1  NA   3   2   2
4  H      506        8  700      4 16 1015675  240  4    1   1  NA   4   2   2
5  H      835        8  800      4 16 1015675  118  4    1   2   1   5   2   2
6  H      989        8  700      4 16 1015675  115  4    1   1  NA   3   2   2
  CONP ELEP FS FULP GASP HFL INSP KIT MHP MRGI MRGP MRGT MRGX PLM RMS RNTM RNTP
1   NA  180  0    2    3   3  600   1  NA    1 1300    1    1   1   9   NA   NA
2   NA   60  0    2    3   3   NA   1  NA   NA   NA   NA   NA   1   2    2  600
3   NA   70  0    2   30   1  200   1  NA   NA   NA   NA    3   1   7   NA   NA
4   NA   40  0    2   80   1  200   1  NA    1  860    1    1   1   6   NA   NA
5   NA  250  0    2    3   3  700   1  NA    1 1900    1    1   1   7   NA   NA
6   NA  130  0    2    3   3  250   1  NA    1  700    1    1   1   6   NA   NA
  SMP TEL TEN VACS VAL VEH WATP YBL FES  FINCP FPARC GRNTP GRPIP HHL HHT  HINCP
1  NA   1   1   NA  17   3  840   5   2 105600     2    NA    NA   1   1 105600
2  NA   1   3   NA  NA   1    1   3  NA     NA    NA   660    23   1   4  34000
3  NA   1   2   NA  18   2   50   5   7   9400     2    NA    NA   1   3   9400
4 400   1   1   NA  19   3  500   2   1  66000     1    NA    NA   1   1  66000
5 650   1   1   NA  20   5    2   3   1  93000     2    NA    NA   1   1  93000
6 400   1   1   NA  15   2 1200   5   2  61000     1    NA    NA   1   1  61000
  HUGCL HUPAC HUPAOC HUPARC LNGI MV NOC NPF NPP NR NRC OCPIP PARTNER PSF R18
1     0     2      2      2    1  4   2   4   0  0   2    18       0   0   1
2     0     4      4      4    1  3   0  NA   0  0   0    NA       0   0   0
3     0     2      2      2    1  2   1   2   0  0   1    23       0   0   1
4     0     1      1      1    1  3   2   4   0  0   2    26       0   0   1
5     0     2      2      2    1  1   1   4   0  0   1    36       0   0   1
6     0     1      1      1    1  4   2   4   0  0   2    26       0   0   1
  R60 R65 RESMODE SMOCP SMX SRNT SVAL TAXP WIF WKEXREL WORKSTAT FACRP FAGSP
1   0   0       1  1550   3    0    1   24   3       2        3     0     0
2   0   0       2    NA  NA    1    0   NA  NA      NA       NA     0     0
3   0   0       1   179  NA    0    1   16   1      13       13     0     0
4   0   0       2  1422   1    0    1   31   2       2        1     0     0
5   0   0       1  2800   1    0    1   25   3       1        1     0     0
6   0   0       2  1330   2    0    1    7   1       7        3     0     0
  FBDSP FBLDP FBUSP FCONP FELEP FFSP FFULP FGASP FHFLP FINSP FKITP FMHP FMRGIP
1     0     0     0     0     0    0     0     0     0     0     0    0      0
2     0     0     0     0     0    0     0     0     0     0     0    0      0
3     0     0     0     0     0    0     0     0     0     0     0    0      0
4     0     0     0     0     0    0     0     0     0     0     0    0      0
5     0     0     0     0     0    0     0     0     0     0     0    0      0
6     0     0     0     0     0    0     0     0     0     1     0    0      0
  FMRGP FMRGTP FMRGXP FMVYP FPLMP FRMSP FRNTMP FRNTP FSMP FSMXHP FSMXSP FTAXP
1     0      0      0     0     0     0      0     0    0      0      0     0
2     0      0      0     0     0     0      0     0    0      0      0     0
3     0      0      0     0     0     0      0     0    0      0      0     0
4     0      0      0     0     0     0      0     0    0      0      0     0
5     0      0      0     0     0     0      0     0    0      0      0     0
6     0      0      0     0     0     0      0     0    0      0      0     1
  FTELP FTENP FVACSP FVALP FVEHP FWATP FYBLP wgtp1 wgtp2 wgtp3 wgtp4 wgtp5
1     0     0      0     0     0     0     0    87    28   156    95    26
2     0     0      0     0     0     0     1   539   363   293   422   566
3     0     0      0     0     0     0     0   187    35   184   178    83
4     0     0      0     0     0     0     0   232   406   234   270   249
5     0     0      0     0     0     0     0   107   194   129    41   156
6     0     0      0     0     0     1     0   191   197   127   115   115
  wgtp6 wgtp7 wgtp8 wgtp9 wgtp10 wgtp11 wgtp12 wgtp13 wgtp14 wgtp15 wgtp16
1    25    95    93    93     91     87    166     90     25    153     89
2   289    87   242   453    453    334    358    414    102    281     99
3    95    31    32   177    118    110    114    184    107     95    115
4   242   406   249   287     67     72    413    399     77    245    424
5   174    47   113   101     33    115     52    113     95    135    206
6   107   119    34    32     30    123    199    117     33    109    117
  wgtp17 wgtp18 wgtp19 wgtp20 wgtp21 wgtp22 wgtp23 wgtp24 wgtp25 wgtp26 wgtp27
1    148     82     25    180     90     24    140     92     25     27     86
2    108    278    131    407    447    264    352    238    390    336    122
3     33    118    120     37    184     35    176    176    110    103     29
4     67     63    226    254    238     69    238    255    239    248     69
5    100    185    135    279    116     33    105    244     38     30    230
6     31    115    201    190    184    198    113    109    117    111    110
  wgtp28 wgtp29 wgtp30 wgtp31 wgtp32 wgtp33 wgtp34 wgtp35 wgtp36 wgtp37 wgtp38
1     84     87     93     90    149     91     28    143     81    144     95
2    374    482    468    335    251    613    104    284    116     91    326
3     30    197    127     92    118    177     99     99    109     34    100
4    234    247    437    423     74     61    401    267     72    388    335
5    123    123    243    120    238     98     90    107     44    122     32
6     33     37     36    110    183    114     35    134    119     32    121
  wgtp39 wgtp40 wgtp41 wgtp42 wgtp43 wgtp44 wgtp45 wgtp46 wgtp47 wgtp48 wgtp49
1     27     22     90    171     27     83    153    148     92     91     91
2    102    361    107    253    321    289     96    343    564    274    118
3    105     33    173     36    168    175     99    103     30     35    155
4    229    236    239     65    259    247    230    225     82    220    233
5    127    195    116     36    135    237     33     33    249    102     84
6    188     33     34     32    109    115    115    112    119    192    186
  wgtp50 wgtp51 wgtp52 wgtp53 wgtp54 wgtp55 wgtp56 wgtp57 wgtp58 wgtp59 wgtp60
1     93     90     26     94    142     24     91     29     84    148     30
2    118    321    261    130    463    294    479    391    307    476    283
3    102     95    107    185    120    114    113     36    115    103     29
4    419    390     69     74    391    276     70    422    409    223    245
5    224    119    250    119    125    126     32    112     33    131     45
6    213    106     34    124    179    106    107    190    112     34     35
  wgtp61 wgtp62 wgtp63 wgtp64 wgtp65 wgtp66 wgtp67 wgtp68 wgtp69 wgtp70 wgtp71
1     93    143     24     88    147    145     91     83     83     86     81
2    116    353    323    374    106    236    380    313     90     94    292
3    183     35    179    169     95    110     28     34    233     97    123
4    269    488    221    250    247    240    415    234    219     66     68
5    101    165    125     41    191    195     49    119     92     44    127
6     32     34    119    123    122    121    123    196    196    207    120
  wgtp72 wgtp73 wgtp74 wgtp75 wgtp76 wgtp77 wgtp78 wgtp79 wgtp80
1     27     93    151     28     79     25    101    157    129
2    401     81    494    346    496    615    286    454    260
3    119    168    107     95    101     30    124    106     31
4    359    385     71    234    421     76     77    242    231
5     36    119    121    116    209     97    176    144     38
6     34    109    199    116    110    211    120     31    189

In [326]:
strsplit(names(data1), "wgtp")[[123]]

[1] ""   "15"

In [361]:
######Problem 4
download.file("https://d396qusza40orc.cloudfront.net/getdata%2Fdata%2FGDP.csv",
              destfile="~/data/R/q4-2.csv",method="curl")
data2<-read.csv("~/data/R/q4-2.csv",skip=3,header=T,sep=",")

In [362]:
head(data2)

    X Ranking X.1       Economy  US.dollars. X.2 X.3 X.4 X.5 X.6
1              NA                                 NA  NA  NA  NA
2 USA       1  NA United States  16,244,600       NA  NA  NA  NA
3 CHN       2  NA         China   8,227,103       NA  NA  NA  NA
4 JPN       3  NA         Japan   5,959,718       NA  NA  NA  NA
5 DEU       4  NA       Germany   3,428,131       NA  NA  NA  NA
6 FRA       5  NA        France   2,612,878       NA  NA  NA  NA

In [363]:
length(data2$US.dollars.)
class(data2$US.dollars.)

[1] 327

[1] "factor"

In [364]:
names(data2) <- gsub(pattern = "\\.", replacement = "", x = names(data2))
names(data2) <- tolower(names(data2))

In [365]:
names(data2)

 [1] "x"         "ranking"   "x1"        "economy"   "usdollars" "x2"
 [7] "x3"        "x4"        "x5"        "x6"

In [366]:
data2$usdollars <- gsub(pattern = ",", replacement = "", x = data2$usdollars)

In [367]:
head(data2)
tail(data2)

    x ranking x1       economy  usdollars x2 x3 x4 x5 x6
1             NA                             NA NA NA NA
2 USA       1 NA United States  16244600     NA NA NA NA
3 CHN       2 NA         China   8227103     NA NA NA NA
4 JPN       3 NA         Japan   5959718     NA NA NA NA
5 DEU       4 NA       Germany   3428131     NA NA NA NA
6 FRA       5 NA        France   2612878     NA NA NA NA

    x ranking x1 economy usdollars x2 x3 x4 x5 x6
322           NA                      NA NA NA NA
323           NA                      NA NA NA NA
324           NA                      NA NA NA NA
325           NA                      NA NA NA NA
326           NA                      NA NA NA NA
327           NA                      NA NA NA NA

In [368]:
data2<-data2[2:191,1:5]

In [369]:
head(data2)
tail(data2)

    x ranking x1        economy  usdollars
2 USA       1 NA  United States  16244600
3 CHN       2 NA          China   8227103
4 JPN       3 NA          Japan   5959718
5 DEU       4 NA        Germany   3428131
6 FRA       5 NA         France   2612878
7 GBR       6 NA United Kingdom   2471784

In [370]:
mean(as.numeric(as.character(data2$usdollars)),na.rm=T)

[1] 377652.4

In [371]:
###Problem 3
grep("^United",data2$economy)

Warning message:
In grep("^United", data2$economy): input string 99 is invalid in this localeWarning message:
In grep("^United", data2$economy): input string 186 is invalid in this locale

[1]  1  6 32

In [415]:
download.file("https://d396qusza40orc.cloudfront.net/getdata%2Fdata%2FEDSTATS_Country.csv",
              destfile="~/data/R/q4_4_2.csv",method="curl")

In [416]:
dat2<-read.csv("~/data/R/q4_4_2.csv")

In [417]:
names(dat2) <- tolower(gsub(pattern = "\\.",replacement = "", x = names(dat2)))

In [419]:
colnames(dat2)[1]<-"x"
head(dat2)

    x                     longname          incomegroup
1 ABW                        Aruba High income: nonOECD
2 ADO      Principality of Andorra High income: nonOECD
3 AFG Islamic State of Afghanistan           Low income
4 AGO  People's Republic of Angola  Lower middle income
5 ALB          Republic of Albania  Upper middle income
6 ARE         United Arab Emirates High income: nonOECD
                      region lendingcategory othergroups   currencyunit
1  Latin America & Caribbean                              Aruban florin
2      Europe & Central Asia                                       Euro
3                 South Asia             IDA        HIPC Afghan afghani
4         Sub-Saharan Africa             IDA             Angolan kwanza
5      Europe & Central Asia            IBRD               Albanian lek
6 Middle East & North Africa                              U.A.E. dirham
  latestpopulationcensus    latesthouseholdsurvey
1                   2000
2         Register based
3                   1979               MICS, 2003
4                   1970 MICS, 2001, MIS, 2006/07
5                   2001               MICS, 2005
6                   2005
                                                                 specialnotes
1
2
3 Fiscal year end: March 20; reporting period for national accounts data: FY.
4
5
6
  nationalaccountsbaseyear nationalaccountsreferenceyear
1                     1995                            NA
2                                                     NA
3                2002/2003                            NA
4                     1997                            NA
5                                                   1996
6                     1995                            NA
  systemofnationalaccounts snapricevaluation alternativeconversionfactor
1                       NA
2                       NA
3                       NA               VAB
4                       NA               VAP                     1991-96
5                     1993               VAB
6                       NA               VAB
  pppsurveyyear balanceofpaymentsmanualinuse externaldebtreportingstatus
1            NA
2            NA
3            NA                                                   Actual
4          2005                         BPM5                      Actual
5          2005                         BPM5                      Actual
6            NA                         BPM4
  systemoftrade governmentaccountingconcept imfdatadisseminationstandard
1       Special
2       General
3       General                Consolidated                         GDDS
4       Special                                                     GDDS
5       General                Consolidated                         GDDS
6       General                Consolidated                         GDDS
  sourceofmostrecentincomeandexpendituredata vitalregistrationcomplete
1
2                                                                  Yes
3
4                                  IHS, 2000
5                                 LSMS, 2005                       Yes
6
  latestagriculturalcensus latestindustrialdata latesttradedata
1                                            NA            2008
2                                            NA            2006
3                                            NA            2008
4                  1964-65                   NA            1991
5                     1998                 2005            2008
6                     1998                   NA            2008
  latestwaterwithdrawaldata x2alphacode wb2code            tablename
1                        NA          AW      AW                Aruba
2                        NA          AD      AD              Andorra
3                      2000          AF      AF          Afghanistan
4                      2000          AO      AO               Angola
5                      2000          AL      AL              Albania
6                      2005          AE      AE United Arab Emirates
             shortname
1                Aruba
2              Andorra
3          Afghanistan
4               Angola
5              Albania
6 United Arab Emirates

In [421]:
q4all<-merge(data2,dat2,by="x")

In [422]:
head(q4all)

    x ranking x1              economy usdollars                     longname
1 ABW     161 NA                Aruba     2584                         Aruba
2 AFG     105 NA          Afghanistan    20497  Islamic State of Afghanistan
3 AGO      60 NA               Angola   114147   People's Republic of Angola
4 ALB     125 NA              Albania    12648           Republic of Albania
5 ARE      32 NA United Arab Emirates   348595          United Arab Emirates
6 ARG      26 NA            Argentina   475502            Argentine Republic
           incomegroup                     region lendingcategory othergroups
1 High income: nonOECD  Latin America & Caribbean
2           Low income                 South Asia             IDA        HIPC
3  Lower middle income         Sub-Saharan Africa             IDA
4  Upper middle income      Europe & Central Asia            IBRD
5 High income: nonOECD Middle East & North Africa
6  Upper middle income  Latin America & Caribbean            IBRD
    currencyunit latestpopulationcensus    latesthouseholdsurvey
1  Aruban florin                   2000
2 Afghan afghani                   1979               MICS, 2003
3 Angolan kwanza                   1970 MICS, 2001, MIS, 2006/07
4   Albanian lek                   2001               MICS, 2005
5  U.A.E. dirham                   2005
6 Argentine peso                   2001
                                                                 specialnotes
1
2 Fiscal year end: March 20; reporting period for national accounts data: FY.
3
4
5
6
  nationalaccountsbaseyear nationalaccountsreferenceyear
1                     1995                            NA
2                2002/2003                            NA
3                     1997                            NA
4                                                   1996
5                     1995                            NA
6                     1993                            NA
  systemofnationalaccounts snapricevaluation alternativeconversionfactor
1                       NA
2                       NA               VAB
3                       NA               VAP                     1991-96
4                     1993               VAB
5                       NA               VAB
6                     1993               VAB                     1971-84
  pppsurveyyear balanceofpaymentsmanualinuse externaldebtreportingstatus
1            NA
2            NA                                                   Actual
3          2005                         BPM5                      Actual
4          2005                         BPM5                      Actual
5            NA                         BPM4
6          2005                         BPM5                      Actual
  systemoftrade governmentaccountingconcept imfdatadisseminationstandard
1       Special
2       General                Consolidated                         GDDS
3       Special                                                     GDDS
4       General                Consolidated                         GDDS
5       General                Consolidated                         GDDS
6       Special                Consolidated                         SDDS
  sourceofmostrecentincomeandexpendituredata vitalregistrationcomplete
1
2
3                                  IHS, 2000
4                                 LSMS, 2005                       Yes
5
6                                  IHS, 2006                       Yes
  latestagriculturalcensus latestindustrialdata latesttradedata
1                                            NA            2008
2                                            NA            2008
3                  1964-65                   NA            1991
4                     1998                 2005            2008
5                     1998                   NA            2008
6                     2002                 2001            2008
  latestwaterwithdrawaldata x2alphacode wb2code            tablename
1                        NA          AW      AW                Aruba
2                      2000          AF      AF          Afghanistan
3                      2000          AO      AO               Angola
4                      2000          AL      AL              Albania
5                      2005          AE      AE United Arab Emirates
6                      2000          AR      AR            Argentina
             shortname
1                Aruba
2          Afghanistan
3               Angola
4              Albania
5 United Arab Emirates
6            Argentina

In [423]:
sum(grepl(pattern = "^[Ff]iscal(.*)[Yy]ear(.*)[Ee]nd(.)*[Jj]une", 
          x = q4all$specialnotes) == TRUE)

[1] 13

In [426]:
#####Problem 5
library(quantmod)
amzn = getSymbols("AMZN",auto.assign=FALSE)
sampleTimes = index(amzn)

In [433]:
class(sampleTimes)
class(amzn)
amzn <- data.frame(amzn)
class(amzn)

[1] "Date"

[1] "xts" "zoo"

[1] "data.frame"

In [435]:
sum(format(as.Date(x = rownames(amzn), format = "%Y-%m-%d"), "%Y") == 2012)

[1] 250

In [437]:
sum(format(as.Date(x = rownames(amzn), format = "%Y-%m-%d"), "%Y%a") == "2012Mon")

[1] 47